In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.imputation.mice as mic
import statsmodels.formula.api as smf
import statsmodels.discrete.discrete_model as smf_discrete
import patsy

sns.set()

/Users/tylermaule/opt/miniconda3/envs/csci_project/lib/python3.9/site-packages/statsmodels/compat/pandas.py:61: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import Int64Index as NumericIndex

In [2]:
study_df = pd.read_csv("data/anticonflict_study_dataframe.csv",low_memory=False)
study_df.shape

(24471, 500)

In [3]:
relevant_vars = pd.read_csv("data/VariableInclusion250.txt",header=None)[0].unique()
addtl_vars = relevant_vars[-1].split("\t")
relevant_vars2 = np.concatenate([relevant_vars[:-1],addtl_vars])
relevant_vars3 = [col.translate({ord("("):"",ord(")"):""}).upper() for col in relevant_vars2]

study_df = study_df[relevant_vars3]
study_df.columns

Index(['HOBGW2', 'STFRW2', 'IPHNW2', 'SMPHW2', 'PHNIW2', 'CMPW2', 'ACTSSW2',
       'ACTSOW2', 'ACTTW2', 'ACTMW2',
       ...
       'MYHEW2', 'MYGSW2', 'SPRTW2', 'HOBGW2', 'STFRW2', 'CN1W2', 'CN2W2',
       'CN3W2', 'CN4W2', 'CN5W2'],
      dtype='object', length=369)

In [4]:
#coercing values which indicate errors or missingness to NaN
study_df = pd.DataFrame(study_df.apply(lambda x: np.where(x.isin([
    "-99              ", "-77              ","","-98              ","-97              ",
    "-55              ","-88              ","-66              ","[MASKED BY ICPSR]"]),np.nan,x)))

#dropping columns where over 50% of values are NaN and rows where all values are NaN
study_df.drop(columns=study_df.columns[(study_df.isna()).mean()>0.5].values, inplace=True)
#study_df.drop(columns=study_df.columns[(study_df.isna()).all(0)].values, inplace=True)
study_df = study_df[~(study_df.isna()).all(1)]

study_df.shape

(24471, 348)

In [5]:
mtest_df = study_df.sample(frac=0.05).reset_index(drop=True)
mtest_ids = mtest_df[["UID","SCHID"]]
mtest_df.drop(columns=["UID","SCHID","SCHOOL_ID","ID2W2","SCHIDW2","IDN","BLOCKNUMBER","BLOCKVAR","SCHTREAT","TREAT","SCHRB","STRB"],inplace=True)
mtest_noms = [col for col in mtest_df.columns if ("ST" in col) & ("CN" in col)]
mtest_df.drop(columns=mtest_noms,inplace=True)
mtest_df.shape

(1224, 336)

In [6]:
response_var_list = pd.read_csv("data/Response_VariableInclusion250.txt",header=None)[0]
response_var_names = [str(col).translate({ord("("):"",ord(")"):""}).upper() for col in response_var_list]

mtest_response = mtest_df[response_var_names]
mtest_response.isna().mean().sort_values()

DN2W2       0.100490
FLIHCW2     0.104575
CILW2       0.104575
CFLW2       0.104575
CSCAW2      0.104575
              ...
DNCL11W2    0.431373
DNCL12W2    0.431373
DNCL14W2    0.431373
DNCL4W2     0.431373
DNCL9W2     0.431373
Length: 129, dtype: float64

In [7]:
de_var_names = [col for col in mtest_response.columns if "DE" in col]
de_imputed = mtest_response.loc[:,de_var_names].apply(lambda x: np.where(x.isna(),0,x.fillna(0).astype(int)))
mtest_response = pd.concat([mtest_response.drop(columns=de_var_names),de_imputed],axis=1)
mtest_response.head(3)

,DN1W2,DN2W2,DN3W2,DN4W2,DN5W2,DN6W2,DN7W2,DN8W2,DN9W2,DN10W2,...,DE43,DE44,DE45,DE46,DE47,DE48,DE49,DE50,DE51,DE98
0,(0) Never,(3) 2-3 times/week,(4) Every day,(3) 2-3 times/week,(4) Every day,(4) Every day,(0) Never,(4) Every day,(0) Never,(4) Every day,...,0,0,0,0,0,0,0,0,0,0
1,(1) 1-2 times/month,(1) 1-2 times/month,(3) 2-3 times/week,(0) Never,(0) Never,(0) Never,(0) Never,(1) 1-2 times/month,(1) 1-2 times/month,(0) Never,...,0,0,0,0,0,0,0,0,0,0
2,(4) Every day,(4) Every day,(4) Every day,(4) Every day,(3) 2-3 times/week,(4) Every day,(3) 2-3 times/week,(4) Every day,(1) 1-2 times/month,(2) About 1 time/week,...,0,0,0,0,0,0,0,0,0,0

In [8]:
r_dummy_df = pd.get_dummies(mtest_response,drop_first=True,prefix_sep='_DUMMY')
r_dummy_df.columns = ["c"+str(i)+"_"+(col.split()[0]).translate({ord("("):"",ord(")"):"",ord("["):"",ord("]"):""})\
                    for i, col in zip(range(r_dummy_df.shape[1]),r_dummy_df.columns)]
r_dummy_df = r_dummy_df.loc[:,~(r_dummy_df.var()<0.05).values]
r_dummy_df.head(3)

,c1_DE2,c22_DE23,c24_DE25,c25_DE26,c29_DE30,c30_DE31,c31_DE32,c33_DE34,c40_DE41,c44_DE45,...,c212_TOMELNW2_DUMMY1,c213_TOMERGW2_DUMMY1,c214_TOMERBW2_DUMMY1,c215_TOMEMFW2_DUMMY1,c216_TOMEPMW2_DUMMY1,c217_TOMETHPW2_DUMMY1,c218_TOMEREW2_DUMMY1,c219_TOMESGW2_DUMMY1,c220_TOMESUW2_DUMMY1,c221_TOMEHDW2_DUMMY1
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,1,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,0,1

In [9]:
imputed_df = mic.MICEData(r_dummy_df)
mice_col = "c190_CILW2_DUMMY1"
mice_formula = "" + mice_col + " ~ " + ("+").join([(str(col)) for col in r_dummy_df.columns\
                                            if (col != mice_col)])
imputed_df

In [10]:
#patsy.dmatrices(mice_formula, r_dummy_df)

In [11]:
game_mice = mic.MICE(model_class=smf_discrete.Logit, model_formula=mice_formula,
                 data=imputed_df)
results = game_mice.fit(10, 10)
print(results.params)

Optimization terminated successfully.
         Current function value: 0.294111
         Iterations 8
Optimization terminated successfully.
         Current function value: 0.294111
         Iterations 1
Optimization terminated successfully.
         Current function value: 0.294111
         Iterations 1
Optimization terminated successfully.
         Current function value: 0.294111
         Iterations 1
Optimization terminated successfully.
         Current function value: 0.294111
         Iterations 1
Optimization terminated successfully.
         Current function value: 0.294111
         Iterations 1
Optimization terminated successfully.
         Current function value: 0.294111
         Iterations 1
Optimization terminated successfully.
         Current function value: 0.294111
         Iterations 1
Optimization terminated successfully.
         Current function value: 0.294111
         Iterations 1
Optimization terminated successfully.
         Current function value: 0.294111
         Iterations 1
[-3.81434049e+00  3.25471266e-01  3.61095773e-01  9.65435538e-03
 -1.32105696e-01  4.55425576e-02  3.18503839e-01 -6.67289595e-01
  5.93174589e-01 -3.34764955e-02  1.84379053e-01  1.68940215e-01
  1.11125514e+00  8.19253073e-01  6.86625045e-01  2.97900335e-01
  5.19568733e-01  4.36753948e-01  8.42803427e-01 -6.03553140e-03
 -8.86058275e-01 -6.61167511e-01  2.40847705e-01 -2.18842807e-01
  3.93397393e-01  1.01291469e+00  6.67705462e-01 -2.30465242e-01
 -2.10203950e-01 -5.40930013e-01 -4.88692924e-01 -5.69606998e-01
 -2.50378473e-01  1.90952187e-01 -1.44009864e-01 -2.84525657e-01
 -1.71852589e-01  9.20241045e-02 -5.12432929e-01  6.49838041e-01
 -6.62969459e-01  2.59092061e-01 -8.09242759e-02  9.89725718e-02
 -4.18583780e-01  4.10311188e-02  5.51563589e-01 -1.06122923e-01
  2.68492462e-01 -2.43980318e-01 -6.51664113e-01  6.00788976e-01
 -4.06680483e-01  6.98954571e-01  3.54266223e-01  1.01727850e-01
  1.04789709e-01 -3.36796366e-01  5.43131022e-01  4.58247751e-02
  2.65712102e-01 -2.41137494e-01 -3.24218504e-01  3.20967590e-01
  1.06613340e-01 -3.60796721e-01  7.66976309e-01  2.16976112e-01
  3.15300301e-01 -9.34469248e-01 -6.30834952e-02 -2.42052836e-01
  3.59471042e-01 -4.68530904e-01  1.21238551e-01 -2.45245921e-01
  1.01146312e+00  1.68862226e+00  1.18119173e+00  6.00088438e-01
  9.74657114e-02  7.67786400e-01  7.09297821e-02 -5.31092762e-01
 -7.55424988e-01 -6.65932869e-01  2.50375884e-01  1.93555984e-01
 -5.82790785e-02 -4.20209277e-01 -2.09901888e-02 -3.39368520e-02
  1.67614827e-01 -4.98870760e-01  1.57074360e-01  2.63167740e-01
 -1.12896339e-01  2.42657749e-01 -1.97853146e-01  5.49774745e-01
 -4.56548094e-01 -3.39998321e-01 -7.38296602e-01 -1.02281482e+00
 -3.57295647e-01 -8.48597371e-01 -6.88948775e-01 -2.93845600e-01
  3.24524534e-01 -2.44023985e-01  3.09133497e-01  3.14581632e-01
  5.56588570e-01  6.26544024e-01 -6.65004372e-01 -4.72031358e-01
 -1.13408306e+00 -6.91017029e-01 -9.33259194e-01 -7.08321944e-01
 -1.64409048e-01  9.70011033e-02  9.11983826e-03 -2.32478469e-01
 -9.85497549e-01 -2.12525037e-01 -7.18971305e-01 -2.18772252e-01
  3.84578027e-01  6.13221517e-01  6.74321488e-01  7.62907686e-01
  4.24907493e-01  1.02717129e-01  4.59142085e-01 -2.11651932e-01
  1.77594483e-01 -5.26131807e-01 -8.54544340e-01  6.49132469e-01
  2.24329691e-03 -1.78833306e-01 -1.28298307e-01 -4.39546113e-02
 -3.94528559e-01  4.83552706e-01  8.76848748e-02  2.01550279e+00
 -4.52991767e-01  2.76222684e-01  4.66045078e-02  7.10340515e-01
  5.40855793e-01  2.39141059e-01 -4.37277037e-01  7.52671869e-02
 -4.52309780e-01  3.15442331e-01  2.50648976e-01 -6.38981242e-01
  1.60663118e-02 -6.87007099e-01 -4.19743893e-01 -4.27839903e-01
  2.96718370e-01 -2.89567632e-02  9.44115381e-01  1.92718912e-01
  2.38995921e-01  4.10840574e-01 -2.17316722e-01  6.65733648e-01
  2.86960276e-01 -8.65010112e-02  1.81500712e-01  2.77382847e-01
  2.25995338e-01]

##